﻿@charset "utf-8";

/*---------------------------------------
    リセットCSS（編集不要）
----------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e8e7e3;
}


/*----------------------------------------
   content
----------------------------------------*/

.wrap_product {
    text-align: center;
    margin-top: 50px;
}

.bg_title {
    background: url(../img/bg-title.png) no-repeat top center;
    background-size: 180px;
    margin-top: 50px;
}

.style_bg {
    background: url(../img/bg-title.png) no-repeat bottom 25px center;
    background-size: 180px;
    margin-top: 0;
}

.title {
    color: #fff;
    background: #01519a;
    text-align: center;
    height: 35px;
    line-height: 35px;
    margin: 80px 0 30px;
}

.text_top {
    margin-bottom: 15px;
    padding: 0 15px;
}

.product_child {
    background: #01519a;
    padding: 20px;
    margin-bottom: 30px;
}

.margin_product {
    margin-top: 11px;
}

.product_child>p>img {
    margin: 0 auto;
}

.product_child .text_product {
    color: #fff;
    text-align: center;
    line-height: 1.3;
    height: 54px;
    overflow: hidden;
    margin: 15px 0;
}

.product_child>a {
    display: block;
    width: 100%;
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.product_child>a:hover {
    border: none;
    color: #fff;
    text-decoration: none;
    padding: 11px;
}


/*  content
----------------------------------------*/

.content {
    padding-top: 85px;
    padding-bottom: 30px;
}

.margin {
    position: relative;
    z-index: 1;
    margin-bottom: -17px;
    margin-top: 165px
}

.product_edit {
    margin-top: 10px;
}

.margin_top {
    margin-top: 20px;
}

.show_product .border_product {
    background: #b3b3b3;
    padding: 10px;
}

.show_product .border_product a {
    display: block;
    background: #fff;
}

.show_product>h3 {
    text-align: center;
    color: #d81613;
    font-weight: bold;
    font-size: 167%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.show_product>h4 {
    text-align: center;
    color: #d81613;
    font-weight: bold;
    font-size: 134%;
    margin-top: 10px;
}

.show_product .content_product {
    text-align: center;
    color: #01519a;
    padding: 0 30px;
    height: 75px;
    overflow: hidden;
    margin-top: 15px;
}

.margin_bottom {
    margin-bottom: 100px;
}


/*----------------------------------------
    フッター
----------------------------------------*/

.slider h1 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
    height: 100%;
}

.slider img {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: auto;
    padding: 1%;
    position: relative;
    text-align: center;
    height: 100%;
    border-radius: 10px;
}

.slider {
    width: 600px;
    margin: 0 auto;
}


/*  小見出し
----------------------------------------*/

.information {
    display: table
}

.info {
    border: 1px solid #b3b3b3;
    margin: 0 0 100px 0;
    background: #f2f2f2;
    display: table-cell;
}

.info img {
    display: table;
    margin: 0 auto;
}


/*.tab_change
-----------------------------------------------*/

.tab_change {
    margin-top: 100px;
}

.tab {
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
    overflow: hidden;
}


/* Float the list items side by side */

.tab .picture_slider {
    float: left;
    padding: 0 0 10px 0;
    background: #fff;
    margin: 0 10px 50px 0;
    border-radius: 10px;
}


/* Style the links inside the list items */

.tab .picture_slider a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 5;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    border: 1px solid #ccc;
    background: #fff;
    margin: 7px;
    border-radius: 10px;
}

.tab .picture_slider h4 {
    font-weight: bold;
    text-align: center;
    color: #d81613;
}


/* Change background color of links on hover */

.tab .hvr-bubble-float-top a:hover,
ul.tab .hvr-bubble-float-top a:active {
    background-color: #cbd6d8;
}


/* Create an active/current tablink class */

.tab .hvr-bubble-float-top a:focus,
.active_tab {
    background-color: #cbd6d8;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 15px 12px;
    /* border: 1px solid #01519a; */
    border-bottom: none;
    text-align: center;
    color: #d81613;
    margin-top: -51px;
    background: #fff;
    margin: 0 0 20px 0;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
}

.hvr-shutter-out-horizontal {
    background: transparent;
}

.hvr-shutter-out-horizontal:before {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


/*
information_news
----------------------------------------------------------*/

.information_news .picture_info {
    margin: 7px 0 0 18px;
}

.information_news {
    padding-bottom: 25px;
    border-bottom: 1px dashed #999;
}

.border_none {
    border: none;
}

.btn-technology {
    padding: 8px 15px;
    background: #ccc;
    border-radius: 5px;
    color: #fff;
    font-size: 85%;
}

.btn-technology:hover {
    text-decoration: none;
    background: #bbb;
    color: #fff;
}

.information_news .list_technology {
    margin-bottom: 10px;
}

.information_news .list_technology dd {
    font-size: 95%;
    margin-bottom: 25px;
    height: 70px;
    overflow: hidden;
    font-style: italic;
}

.information_news .list_technology dt {
    margin-bottom: 5px;
    font-style: italic;
}

.information_news .list_technology dt a {
    font-size: 95%;
    color: #333;
}

.information_news .text_time {
    color: #3498db;
    font-size: 85%;
}

.list_news {
    margin: 0 0 15px 0;
}

.list_news>li {
    font-size: 95%;
    padding: 0 0 5px 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    font-style: italic;
}

.list_news>li>a:hover {
    color: #000;
    text-decoration: none;
}

.information_content>p {
    font-size: 95%;
    color: #666;
    margin: 0 0 15px 0;
    font-style: italic;
    height: 86px;
    overflow: hidden;
}

.title_information {
    margin-bottom: 20px;
    font-weight: bold;
    color: #666;
    font-size: 134%;
    font-style: italic;
}

.information_map {
    margin: 40px 0 0 0;
}

#jssor_1 {
    margin: 50px auto 15px !important;
}


/*
.product|
--------------------------------------------------------------*/

.product {
    margin: 70px 0 0 0;
}

h2.title_product {
    font-size: 200%;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 100px 20px 100px;
    display: table;
    margin: 0 auto;
    border: 1px solid #999;
    position: relative;
    z-index: 5;
    top: 53px;
    background: #e8e7e3;
}

hr.line {
    border-top: 1px dashed #999;
    width: 100%;
}

hr.line_02 {
    border-top: 1px dashed #999;
    width: 100%;
    margin: 0 0 40px 0;
}

.area_product_01 {
    background: url(../img/img-product_13.png) no-repeat top left;
    background-size: contain;
    height: 250px;
    margin: 0 -30px;
    padding: 50px 25px 0 25px;
}

.area_product_02 {
    background: url(../img/img-product_10.png) no-repeat top left;
    background-size: contain;
    height: 250px;
    margin: 0 -30px;
    padding: 50px 25px 0 25px;
}

.area_product_03 {
    background: url(../img/img-product_03.png) no-repeat top left;
    background-size: contain;
    height: 250px;
    margin: 0 -30px;
    padding: 50px 25px 0 25px;
}

.area_product_04 {
    background: url(../img/img-product_05.png) no-repeat top left;
    background-size: contain;
    height: 250px;
    margin: 0 -30px;
    padding: 50px 25px 0 25px;
}

.area_product_05 {
    background: url(../img/img-product_07.png) no-repeat top left;
    background-size: contain;
    height: 250px;
    margin: 0 -30px;
    padding: 50px 25px 0 25px;
}

.products>h2>a {
    color: #000;
}

.products>h2>a:hover {
    text-decoration: none;
    color: #01519a;
}

.products>h2 {
    text-align: center;
    font-size: 150%;
    font-weight: bold
}

.products>p {
    text-align: center;
    color: #eee;
    margin-top: 15px;
    height: 42px;
    overflow: hidden;
}

.area_product_02>h2 {
    text-align: center;
    font-size: 150%;
    font-weight: bold
}

.area_product_02>h2>a {
    color: #333;
}

.area_product_02>p {
    text-align: center;
    color: #333;
}

.slick-next {
    left: 0;
}

.slick-prev {
    right: 0
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -42px;
    padding: 0;
    cursor: pointer;
    color: #000;
    border: none;
    outline: none;
    background: #fff;
    z-index: 1000;
    border-radius: 10px 0;
}


/*slider_tab_cty*/

@charset 'UTF-8';

/* Slider */

.slick-loading .slick-list {
    /*background: #fff url('./ajax-loader.gif') center center no-repeat;*/
}


/* Icons */

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    /*src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');*/
}


/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -40px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #fff;
    z-index: 1000;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 0;
}

[dir='rtl'] .slick-prev {
    right: 0;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: 0;
    left: 98%;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: 0
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}


/* Dots */

.slick-slider {
    width: 100%;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}


/* Slider */

.slick-slider {
    /*position: relative;*/
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    /*position: relative;*/
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

footer {
    text-align: center;
    background: #598a9e;
    font-size: 12px;
    margin-top: 100px;
}

@media screen and ( max-width: 1192px) {
    .navbar-default .navbar-nav>li>a {
        width: 90px;
        height: 81px;
        -webkit-transform: skew(-25deg);
        -moz-transform: skew(-25deg);
        -o-transform: skew(-25deg);
        background: #598a9e;
        color: #f9f9f9;
    }
}

@media screen and ( max-width: 991px) {
    .navbar-default .navbar-nav>li>a {
        width: 66px;
        height: 81px;
        -webkit-transform: skew(-25deg);
        -moz-transform: skew(-25deg);
        -o-transform: skew(-25deg);
        background: #598a9e;
        color: #f9f9f9;
    }
    .products>p {
        text-align: center;
        color: #eee;
        margin-top: 5px;
        height: 42px;
        overflow: hidden;
    }
    .area_product_01 {
        background: url(../img/img-product_13.png) no-repeat top left;
        background-size: contain;
        height: 150px;
        margin: 0 -30px;
        padding: 30px 25px 0 25px;
    }
    .area_product_02 {
        background: url(../img/img-product_10.png) no-repeat top left;
        background-size: contain;
        height: 150px;
        margin: 0 -30px;
        padding: 30px 25px 0 25px;
    }
    .area_product_03 {
        background: url(../img/img-product_03.png) no-repeat top left;
        background-size: contain;
        height: 150px;
        margin: 0 -30px;
        padding: 30px 25px 0 25px;
    }
    .area_product_04 {
        background: url(../img/img-product_05.png) no-repeat top left;
        background-size: contain;
        height: 150px;
        margin: 0 -30px;
        padding: 30px 25px 0 25px;
    }
    .area_product_05 {
        background: url(../img/img-product_07.png) no-repeat top left;
        background-size: contain;
        height: 150px;
        margin: 0 -30px;
        padding: 30px 25px 0 25px;
    }
    .content {
        background: #cbd6d8;
        padding-top: 45px;
        padding-left: 0;
        padding-right: 0;
    }
    .text_top {
        margin-bottom: 15px;
        padding: 0 69px;
        text-align: center;
    }
    .wrap_product {
        margin-left: 15px;
        margin-right: 15px;
    }
    .show_product {
        text-align: center;
    }
    .tab_change {
        margin-top: 85px;
        margin-bottom: 55px;
    }
    .margin {
        position: relative;
        z-index: 1;
        margin-bottom: -17px;
        margin-top: 89px;
    }
}

@media screen and ( max-width: 767px) {
    .navbar-default .navbar-nav>li>a {
        width: 100%;
        height: auto;
        -webkit-transform: skew(-25deg);
        -moz-transform: skew(-25deg);
        -o-transform: skew(-25deg);
        background: #598a9e;
        color: #f9f9f9;
    }
    .area_product_01,
    .area_product_03,
    .area_product_05 {
        background: transparent;
        height: 250px;
        margin: 0;
        padding: 50px 30px 30px;
        background-color: #598a9e;
    }
    .products>h2 {
        text-align: center;
        color: #333;
        font-size: 150%;
        font-weight: bold;
        background: #ccc;
        padding: 22px 20px;
        border-radius: 37px;
    }
    .products>p {
        text-align: center;
        color: #333;
        margin-top: 15px;
        height: 60px;
        overflow: hidden;
    }
    .area_product_01>h2,
    .area_product_01>p,
    .area_product_03>h2,
    .area_product_03>p,
    .area_product_05>h2,
    .area_product_05>p {
        color: #fff;
    }
    .title_information {
        margin-bottom: 20px;
        font-weight: bold;
        color: #666;
        font-size: 134%;
        font-style: italic;
        margin-top: 25px;
    }
    .area_product_02,
    .area_product_04 {
        background: transparent;
        height: 250px;
        margin: 0;
        padding: 65px 18px 18px;
        background-color: #fff;
        color: #333;
    }
    .wrap_product {
        margin: 70px 0 0 0;
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .animated {
        display: block;
    }
    .contact_header {
        margin: 10px 0;
    }
    .padding_menu {
        padding: 0;
    }
    .bg_title {
        background: url(../img/bg-title.png) no-repeat top center;
        background-size: 180px;
        margin-top: 30px;
    }
    .content {
        background: #cbd6d8;
        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
    }
    .title {
        color: #fff;
        background: #01519a;
        text-align: center;
        height: 35px;
        line-height: 35px;
        margin: 85px 15px 30px;
    }
    .margin {
        position: relative;
        z-index: 1;
        margin-bottom: -17px;
        margin-top: 0;
    }
    .text_top {
        margin-bottom: 15px;
        padding: 0 15px;
        text-align: center;
    }
    .information {
        display: inherit;
    }
    .info {
        border: 1px solid #b3b3b3;
        margin: 0 0 10px 0;
        background: #f2f2f2;
        display: inherit;
    }
    .show_product .content_product {
        text-align: center;
        color: #01519a;
        padding: 0 30px;
        height: 40px;
        overflow: hidden;
        margin: 5px 0 15px 0;
    }
}