@charset "utf-8";

/*---------------------------------------
    リセットCSS（編集不要）
----------------------------------------*/

html {
    overflow-y: scroll;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
}

q:before,
q:after {
    content: '';
}

object,
embed {
    vertical-align: top;
}

legend {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

img,
abbr,
acronym,
fieldset {
    border: 0;
}

ul li {
    list-style-type: none;
}

a,
label {
    cursor: pointer;
}

img {
    vertical-align: bottom;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}


/*----------------------------------------
   header
----------------------------------------*/

.hotline {
    text-align: right;
    color: red;
    font-weight: bold;
    padding-right: 17px;
    font-size: 117%;
    margin-right: 10px;
}

.hotline>a>img {
    margin: 10px 0 7px 0;
    border-radius: 4px;
}

.hotline>a>img:hover {
    opacity: 0.7;
}

header .logo {
    background: url(../img/bg-logo.png) no-repeat top right 24px;
    background-size: 142px;
}

header .logo img {
    margin-left: 29px;
    margin-top: 10px;
}

header .text_header {
    text-align: center;
    margin-top: 25px;
    background: url(../img/bg-text_header.png) no-repeat bottom left;
    background-size: 200px;
    display: none;
}

header .text_header img {
    padding: 5px 0;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.navbar-default .navbar-nav>li>a {
    width: 117px;
    height: 70px;
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    background: #598a9e;
    color: #f9f9f9;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #f9f9f9;
    background: #01519a;
}

header .background_menu {}

.navbar-nav header .navbar-default .navbar-nav>li>a {
    width: 117px;
    height: 70px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background: #f9f9f9;
}

header .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #f9f9f9;
    background: #01519a;
    margin-left: 10px;
}

.navbar-default {
    background-color: #e8e7e3;
    border-color: #e8e7e3;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: -1px;
    padding-bottom: 5px;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    text-align: center;
}

.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #eee;
    background: #e8e7e3;
    margin-left: 10px;
    width: 117px;
    height: 70px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}

header .contact_header>ul {
    overflow: hidden;
    float: right;
    margin-top: 15px;
}

header .contact_header>ul>li {
    float: left;
    margin-left: 5px;
    width: 35px;
}

header .contact_header>ul>li img:hover {
    opacity: 0.7;
}


/* footer
----------------------------------------*/

footer {
    text-align: center;
    background: #598a9e;
    padding: 50px 0;
    font-size: 12px;
}

footer h2 {
    color: #d81613;
    font-size: 167%;
    margin: 15px 0;
}

footer .content_contact {
    color: #fff;
    text-align: left;
    margin: 55px 0 0 0;
}

footer .content_contact>h3 {
    font-size: 150%;
    margin: 0 0 30px 0;
}

.list_contact {
    overflow: hidden;
    display: table;
    margin: 0 auto;
}

.list_contact>li {
    float: left;
    margin-left: 5px;
}

.list_contact>li img {
    width: 35px;
    border-radius: 4px;
}

.list_contact>li img:hover {
    opacity: 0.7;
}

footer .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 10px;
    -moz-osx-font-smoothing: grayscale;
}

footer .ico_contact {
    display: table;
    margin: 0 auto;
    padding: 30px 0 30px 0;
    color: #fff;
}

footer .box_contact {
    background: #606061;
    margin: 30px 0 0 0;
}


/*----------------------------------------
    フッター
----------------------------------------*/


/*  小見出し
----------------------------------------*/

@media screen and ( max-width: 991px) {
    header .contact_header>ul>li {
        float: left;
        margin-left: 3px;
        width: 30px;
    }
}

@media screen and ( max-width: 767px) {
    /*.menu
    --------------------------------------------*/
    .navbar-default .navbar-nav>li>a {
        background: transparent;
        height: auto;
        border-bottom: 1px solid #333;
        width: 100%;
        padding: 0
    }
    .navbar-header {
        background: #598a9e;
    }
    .navbar-default .navbar-nav>li>a {
        width: 100%;
        height: auto;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        /* background: #598a9e; */
        /* color: #f9f9f9; */
    }
    .content {
        margin-top: -40px;
    }
    .navbar-default .navbar-nav>li>a {
        width: 100%;
        height: auto;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        /* background: #598a9e; */
        /* color: #f9f9f9; */
        color: #999;
    }
    header .text_header {
        text-align: center;
        margin-top: 25px;
        background: url(../img/bg-text_header.png) no-repeat bottom left;
        background-size: 200px;
        display: none;
    }
    header .logo img {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    header .logo {
        background: url(../img/bg-logo.png) no-repeat top center;
        background-size: 142px;
    }
    header .contact_header>ul {
        overflow: hidden;
        float: right;
        margin-top: -91px;
    }
    .navbar {
        position: relative;
        min-height: 50px;
        margin-bottom: -1px;
        background: #01519a;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #eee;
        background: #999;
        margin-left: 0;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        color: #eee;
        background: #01519a;
    }
    header .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:active {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #eee;
        background: #01519a;
        margin-left: 5px;
    }
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #e7e7e7;
        background: #eee;
    }
    /*---------------------------------------------------------
    .footer
    -------------------------------------------------------------*/
    footer {
        text-align: center;
        background: #598a9e;
        font-size: 12px;
        margin-top: 100px;
        padding: 15px 0;
    }
    footer p {
        color: #fff;
        margin: 15px;
    }
    .hotline_footer {
        background: url(../img/bg-hotline.png) no-repeat top left;
    }
    .list_contact {
        overflow: hidden;
        text-align: right;
        float: right;
        padding-right: 15px;
    }
    footer .box_contact {
        background: #606061;
        margin: 50px 0 0 0;
    }
}

@media screen and ( max-width: 400px) {
    header .contact_header>ul {
        overflow: hidden;
        float: none;
        margin-top: 15px;
        margin: 0 auto;
        display: table;
    }
}

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
.modalbg {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 99999;
    -moz-transition: all 2s ease-out;
    -webkit-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -transition-delay: 0.2s;
    display: block;
    pointer-events: none;
}

.modalbg .dialog {
    width: 52%;
    position: relative;
    top: -1000px;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #ffffff;
    background: -moz-linear-gradient(#ffffff, #cccccc);
    background: -webkit-linear-gradient(#ffffff, #cccccc);
    background: -o-linear-gradient(#ffffff, #cccccc);
    box-shadow: 0 0 10px #000000;
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
}

.modalbg .dialog .ie7 {
    filter: progid: DXImageTransform.Microsoft.Shadow(color='#000000', Direction=135, Strength=3);
}

.modalbg:target {
    display: block;
    pointer-events: auto;
    background: rgba(4, 10, 30, 0.8);
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.modalbg:target .dialog {
    top: -90px;
    -moz-transition: all 0.8s ease-out;
    -webkit-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -transition-delay: 0.4s;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    box-shadow: 0 0 10px #000000;
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -transition-delay: 0.2s;
}

.close .ie7 {
    filter: progid: DXImageTransform.Microsoft.Shadow(color='#000000', Direction=135, Strength=3);
}

.close:hover {
    background: #00d9ff;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.fineprint {
    font-style: italic;
    font-size: 10px;
    color: #646;
}