/*---------------------------------------------
.category
----------------------------------------------*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.category {
    margin: 40px 11px 100px 0;
}
.search h3 {
    margin: 45px 0 10px 0;
    color: #d81613;
}
.category > h3 {
    margin: 0 0 10px 0;
    color: #d81613;
}
.category .acctive{
	background:#3883cc url(drop-down-icon1.png) no-repeat 2px 50%;
}
.category .list_wrapper {
	width: 100%;
}
.category .list_wrapper > dt {
	background:#3883cc;
	border-bottom:1px solid #FFFFFF;
	font-size:14px;
	position:relative
}
.category .list_wrapper > dt:hover {
    opacity: 0.7;
}
.category .list_wrapper > dt a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 0 10px 20px;
    display: block;
}
.category .list_wrapper > dd a{
	color:#000000;
}
.category .list_menu {
	list-style:none;
    background: #cbd6d8;
}
.category .list_menu > li {
    padding: 5px 20px;
    border-bottom: 1px solid #eee;
}
.category .list_menu > li:hover {
    background: #ddd;
}
.category .list_menu > li a {
    text-decoration: none;
}
/*.search
-----------------------------------*/
form {
    padding-right: 12px;
}
select {
    width: 100%;
    border: none;
    background: #cbd6d8;
    margin: 1px 0;
    padding: 10px;
}
/*---------------------------------------------
.products
----------------------------------------------*/
.content {
    margin-top: 50px;
}
.products {

}
.products .title_product {
    margin: 40px 0 40px 0;
    font-size: 167%;
    font-weight: bold;
    color: #666;
}
.product_child {
    margin-bottom: 20px;
}
.product_child > a {
    display: block;
    border: 1px solid #ccc;
    text-align: center;
    background: #f6f6f6;
}
.product_child > a img {
    background: #f6f6f6;
}
.product_child > h4 {
    text-align: center;
    margin: 8px 0;
    font-weight: bold;
}
.product_child > h4 > a {
    text-decoration: none;
}
/*---------------------------------------------
.autoflame
----------------------------------------------*/
.color > h4 > a {
    color: #d81613;
}
.color > h4 > a:hover {
    color: #3883cc;
}
/*content_02
...........................................*/
.content_02 {
    margin-right: -26px;
    padding-top: 74px;
    padding-right: 15px;
}
.content_02 > h4 {
    font-size: 168%;
    margin-top: 15px;
    color: #00642b;
}
.content_02 > p{
    font-size: 90%;
    color: #8f938f;
    margin-top: 20px;
}
.content_02 > p > span {
    color: #fff;
    background: #25b45b;
    padding: 8px 15px;
    margin-left: 8px;
}
/*--------------------------------------------------------------
.detail
----------------------------------------------------------------*/
.margin {
    margin: 50px 0;
}
.style_border {
    border-right: 1px solid #eee;
    margin: 50px 0;
}
.information_product ol {
    list-style-type: disc;
    padding: 0 20px 0 20px;
    font-size: 84%;
}
.information_product h4 {
    text-align: center;
    background: #cbd6d8;
    padding: 10px 0;
    margin: 0 0 15px 0;
}
/*slider
------------------------------------------*/
.slider {
    margin-top: 30px;
}
.slider_child ul {
    display: flex;
}
/*.content_03
--------------------------------------------------------------*/
.content_03 {
    padding-left: 40px;
    margin-top: 145px;
}
.content_03 > h3 {
    text-align: center;
    background: #ccc;
    padding: 10px 0;
}
.content_03 ul > li {
    background: url(../img/ico_list.png) no-repeat top 4px left 5px;
    padding-left: 25px;
    background-size: 15px;
    margin-top: 9px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
}
.content_03 dl {
    overflow: hidden;
}
.content_03 dl dt {
    width: 40%;
    float: left;
}
.content_03 dl dd {
    color: #666;
    display: inherit !important;
    float: left;
    width: 60%
}
.content_03 dl dd::before {
    content: " : ";
}
.content_03 .color_price {
    color: #d81613;
    font-weight: bold;
}
/** download button effect **/
a.dlbtn {
  display: inline-block;
  position: relative;
  height: 45px;
  line-height: 40px;
  overflow: hidden;
  padding: 0 30px;
  font-size: 12px;
  font-weight: bold;
  color: #c0c0c0;
  background-color: #fff;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
 
a.dlbtn:hover, a.dlbtn:focus {
  color: #fff;
  padding-right: 90px;
  background-color: #5381bf;
  border-color: #5381bf;
}
 
a.dlbtn .details {
  position: absolute;
  line-height: 11px;
  top: 4px;
  right: -15px;
  opacity: 0;
  background: #49668c;
  color: #fff;
  text-align: center;
  padding: 3px 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: right 0.4s linear, opacity 0.25s;
  -moz-transition: right 0.4s linear, opacity 0.25s;
  transition: right 0.4s linear, opacity 0.25s;
}
a.dlbtn .details .size {
  display: block;
  padding-top: 3px;
}
 
a.dlbtn:hover .details, a.dlbtn:focus .details {
  right: 8px;
  opacity: 1;
}
 
/** large download button **/
.center {
    margin: 15px 0;
}
a.dlbtn.big {
  height: 115px;
  line-height: 115px;
  padding: 0 80px;
  font-size: 26px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
a.dlbtn.big:hover, a.dlbtn.big:focus {
  padding-right: 160px;
}
 
a.dlbtn.big .details {
  top: 10px;
  font-size: 18px;
  line-height: 20px;
  padding: 6px 15px;
}
 
a.dlbtn.big:hover .details, a.dlbtn.big:focus .details {
  right: 15px;
}
 
a.dlbtn .dlicon {
  display: block;
  font-size: 55px;
  line-height: 30px;
}
 
/*--------------------------------------------------------------
.introduce
---------------------------------------------------------------*/
 .tabs_change {
    margin: 100px 0 20px 0;
    padding: 0;
 }
.tabs-left>li>a {
    border-radius: 15px 0 0 15px;
    margin-right: 0;
    display: block;
    color: #fff;
    background: #ccc;
}
.tabs-left {
    border-right: transparent;
}
.border_left_tab {
    margin-left: -46px;
    background: #f9f9f9;
    margin-right: 0px;
    padding: 10px 0 50px 0;
    margin-bottom: 100px;
    border-radius: 0 15px 15px 15px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #5381bf;
    cursor: default;
    border: transparent;
    position: relative;
    z-index: 2;
    background: #f9f9f9;
}
.title_tabs {
    font-size: 185%;
    margin: 40px 0 0 -45px;
    font-weight: bold;
    color: #3883cc;
    padding: 0 0 34px 45px;
}
.nav-tabs>li>a:hover {
    border-color: transparent;
}
.content_tab_01 {
    margin: 50px 0;
}
.pictur {
    margin: 0 auto;
}
.content_tab_02 {
    margin-top: 0;
}
.content_tab_02 dl dt {
    width: 20%;
    float: left;
}
.content_tab_02 dl dd {
    width: 80%;
    float: left;
}
.search_intro {
    margin: 0 20px 100px 0;
    padding-right: 0;
}
.text_content_tab {
    margin: 30px 0 0 0;
    padding: 0 30px;
}
.text_content_tab > p {
    line-height: 1.8;
    margin-bottom: 10px;
}
.text_content_tab dl dt a {
    color: #5381bf;
    font-weight: bold;
    font-size: 117%;
}
.text_content_tab dl dt a:hover {
    text-decoration: none;
    color: #49668c;
}
.text_content_tab dl {
    border-bottom: 1px dashed #666;
    padding: 0 0 5px 0;
    margin: 0 0 15px 0;
}
.text_content_tab dl dd {
    color: #999;
    font-size: 85%;
    display: table-cell !important;
}
.text_content_tab dl dd span {
    margin: 0 5px 0 0;
    border-right: 1px solid #999;
    padding: 0 5px 0 0;
    color: red;
}
.text_content_tab > h2 {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    margin: 25px 0;
}
.text_content_tab .list_intro {
    list-style-type: disc;
    padding: 0 0 0 40px;
}
.text_content_tab .text_thanks {
    color: #5381bf;
    text-align: center;
    margin: 50px 0 0;
}
.text_content_tab .color_blue {
    color: #5381bf;
    font-weight: bold;
}
.text_content_tab .color_bold {
    color: #000;
    font-weight: bold;
}
.customer_intro td {
    padding: 20px 10px 15px 0;
}
/*-----------------------------------------------------
.news
-------------------------------------------------------*/
.padding_news {
    padding: 10px 0 0px 0;
}
.list_news {
    margin: 30px 30px 30px 30px;
    border-bottom: 1px dotted #ccc;
    padding: 0 0 10px 0;
}
.list_news dt > a{
    color: #5381bf;
}
.list_news dt > a:hover {
    color: #49668c;
    text-decoration: none;
}
.list_news dt .color_red {
    font-size: 85%;
    font-weight: none;
    color: red;
    padding: 0 0 0 5px;
    margin: 0 5px 0 0;
    font-weight: 100;
}
.list_news dt .color_black {
    font-size: 85%;
    font-weight: 100;
    color: #999;
}
.list_news dt .color_black::before {
    content: "| ";
}
.list_news > dd {
    color: #666;
    font-size: 95%;
    display: block !important;
}
.page_news {
    text-align: center;
}

/*
.padding_content_new
---------------------------------------------------------------*/
.content_news {
    margin: 0
}
.content_news_detail {
    margin: 0 0 100px 0;
}
.row_news {
    border-bottom: 1px dashed #999;
    padding: 0 0 10px 0;
    margin: 0 0 30px 0;
}
.padding_content_new {
    padding: 50px 30px 30px 30px;
}
.padding_content_new .picture_news > img {
    padding: 5px;
    background: #fff;
}
.padding_content_new .list_content_news {
    margin: 10px 0 0 0;
    border-bottom: 0;
    padding: 0;
}
.picture_detailnew > img {
    text-align: center;
    margin: 0 auto;
}
.text_picture {
    text-align: center;
    margin: 0 10%;
}
.content_news .text_black {
    color: #333;
}
/*-----------------------------------------------------
.contact
-------------------------------------------------------*/
.contact {
    margin: 40px 0 100px 0;
}
.contact .style_list_contact {
    border-bottom: 1px #999 dashed;
    padding: 0 0 10px 0;
    margin: 30px 0 0 0;
}
.list_contact dd {
    display: block !important;
    font-size: 84%;
}
.list_contact dd > p {
    line-height: 1.6;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close_01 {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

.close_01:hover,
.close_01:focus {
    color: #25b45b;
    text-decoration: none;
    cursor: pointer;
}
.close_02 {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

.close_02:hover,
.close_02:focus {
    color: #25b45b;
    text-decoration: none;
    cursor: pointer;
}
.close_03 {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

.close_03:hover,
.close_03:focus {
    color: #25b45b;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: #3883cc;
    color: white;
}

.modal-body {
    padding: 10px 10px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5381bf;
    color: white;
}
.form_contact {
    margin: 50px 0 0 0;
}
.btn_contact {
    text-align: center;
    margin: 15px 0 0 0;
}
.button_contact {
   background: #5381bf;
   color: #fff;
}
.form-horizontal .control-label {
    text-align: left;
    }
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    font-size: 84%;
}
.form-control {
    height: 25px;
}
.form-group {
    margin-bottom: 10px;
}
textarea.form-control {
    height: 130px;
    overflow: auto;
}
.color_red {
    color: red;
}
.text_note {
    font-size: 85%;
}
.color_black {
    font-weight: bold;
}

/** responsive styles **/
@media screen and (max-width: 991px) {
    form {
        padding-right: 0;
    }
    .products {
        margin-bottom: 100px;
    }
    .content_02 {
        margin-right: 0;
        padding-top: 0;
        padding-right: 15px;
    }
    .content_03 {
        padding-left: 15px;
        margin-top: 30px;
    }
    .style_border {
        border-right: none;
        margin: 0;
    }
    .margin {
        margin: 15px 0;
    }
    /*---------------------------------------------------
    .product_child
    -----------------------------------------------------*/
    /*---------------------------------------------------
    .contac
    -----------------------------------------------------t*/
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }
    .modal-body > iframe {
        width: 100%;
    }
    /*--------------------------------------------------------------
    .introduce
    --------------------------------------------------------------*/
    .search_intro {
        margin: 0;
        padding-right: 0;
    }
    .tabs-left>li>a {
        border-radius: 0;
        margin-right: 0;
        display: block;
        color: #fff;
        background: #ccc;
        text-align: center;
    }
    .border_left_tab {
        margin-left: 0;
        background: #f9f9f9;
        margin-right: 0px;
        padding: 50px 15px;
        margin-bottom: 100px;
        border-radius: 10px;
    }
    .title_tabs {
        font-size: 185%;
        margin: 40px 0 0 -45px;
        font-weight: bold;
        color: #3883cc;
        padding: 0 0 34px 45px;
        text-align: center;
    }
    .border_left_tab {
        margin-left: 0;
        background: #f9f9f9;
        margin-right: 0px;
        padding: 15px 0;
        margin-bottom: 50px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 767px) {
    /*---------------------------------------------------
    .ptoduct
    -----------------------------------------------------*/
    .products .title_product {
        margin: 40px 0 15px 0;
        font-size: 167%;
        font-weight: bold;
        color: #666;
        text-align: center;
    }
    .products {
        margin-bottom: 30px;
    }
    /*---------------------------------------------------
    .introduce
    ----------------------------------------------------*/
    .category {
        margin: 40px 0px 50px 0;
    }
    .tabs-left>li>a {
        border-radius: 0;
        margin-right: 0;
        display: block;
        color: #fff;
        background: #ccc;
        text-align: center;
    }
    .tabs_change {
        margin: 0px 0 20px 0;
        padding: 0;
    }
    .border_left_tab {
        margin-left: 0;
        background: #f9f9f9;
        margin-right: 0px;
        padding: 15px 0;
        margin-bottom: 100px;
        border-radius: 10px;
    }
    .text_content_tab {
        margin: 0;
        padding: 0 15px;
    }
    .content_tabs {
        padding: 0;
    }
    .title_tabs {
        font-size: 185%;
        margin: 40px 0 0 -45px;
        font-weight: bold;
        color: #3883cc;
        padding: 0 0 34px 45px;
        text-align: center;
    }
    .content_03 ul > li {
        background: transparent;
        padding-left:0;
        background-size: 15px;
        margin-top: 9px;
        border-bottom: 1px dotted #ccc;
        padding-bottom: 10px;
    }
    .content_tab_02 dl dt {
        width: 100%;
        float: left;
    }
    .content_tab_02 dl dd {
        width: 100%;
        float: left;
    }
    .content_tab_02 dl dd::before {
        content: none;
    }
    .content_tab_02 dl dt::after {
        content: " :";
    }
    .form-horizontal .control-label {
        text-align: left;
        }
    .form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
    }
    
}
@media screen and (max-width: 620px) {
  h1 { font-size: 2.7em; }
  .center { width: 30%; }
  .centerbig { width: 70%; }
}
 
@media screen and (max-width: 480px) {
  h1 { font-size: 2.2em; }
  .center { margin-left: 0; }
  .centerbig { margin-left: -20px; }
 
  a.dlbtn.big { padding: 0 70px; }
  a.dlbtn.big:hover, a.dlbtn.big:focus { padding-right: 150px; }
}